{% extends 'core/base.html' %}
{% block contenido %}
    <main>
        <h1>Servicios</h1>
        <section>
            <h2>CRUD Servicios</h2>
            <ol>
                <li><a href="{% url 'servicios:servicio_list' %}">Listar</a></li>
                <li><a href="{% url 'servicios:servicio_create' %}">Crear</a></li>
            </ol>
        </section>
        <section>
            <h2>CRUD Clientes</h2>
            <ol>
                <li><a href="{% url 'servicios:cliente_list' %}">Listar</a></li>
                <li><a href="{% url 'servicios:cliente_create' %}">Crear</a></li>
            </ol>
        </section>
        <div>
            <a href="{% url 'core:home' %}">Volver</a>
        </div>
    </main>
{% endblock contenido %}
