{% extends 'core/base.html' %}
{% block title %}
    Servicios | Lista
{% endblock title %}
{% block contenido %}
    <h1>Servicios: Lista</h1>
    <ol>
        {% for servicio in servicios %}
            <li>
                {{ servicio }}
                <a href="{% url 'servicios:servicio_detail' servicio.id %}">Ver</a>
                <a href="{% url 'servicios:servicio_update' servicio.id %}">Editar</a>
                <a href="{% url 'servicios:servicio_delete' servicio.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ol>
    <a href="{% url 'servicios:home' %}">Volver</a>
{% endblock contenido %}
