{% extends 'core/base.html' %}
{% block title %}
    {% if form.instance.pk %}
        Servicios | Actualizar
    {% else %}
        Servicios | Crear
    {% endif %}
{% endblock title %}
{% block contenido %}
    {% if form.instance.pk %}
        <h1>Servicios: Actualizar</h1>
    {% else %}
        <h1>Servicios: Crear</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock contenido %}
